{% extends "layout.html" %}

{% block title %}Images - {{ super() }}{% endblock %}

{% block content %}
<div class="panel-group" role="tablist">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-picture"></span>
      Images
    </div>
    <div class="table-responsive">
      <table class="table table-condensed table-hover tablesorter">
        <thead>
          <tr>
            <th>Repository</th>
            <th>Name</th>
            <th>Tag</th>
            <th>In use</th>
          </tr>
        </thead>
        <tbody>
          {% for image, containers in images["items"]|dictsort %}
          {% set repo, name_tag = image.split("/", 1) %}
          {% if ":" in name_tag %}
          {% set name, tag = name_tag.split(":", 1) %}
          {% else %}
          {% set name, tag = name_tag, "latest" %}
          {% endif %}
          <tr>
            <td>{{ repo }}</td>
            <td><a href="{{ url_for('image', name=image) }}">{{ name }}</a></td>
            <td>{{ tag }}</td>
            <td class="text-right">{{ containers|length }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}

{% block css %}
<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery.tablesorter/2.28.5/css/theme.default.min.css" crossorigin="anonymous">
{% endblock css %}

{% block js %}
{{ super() }}
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery.tablesorter/2.28.5/js/jquery.tablesorter.min.js" crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).ready(function() {
  $(".tablesorter").tablesorter();
});
</script>
{% endblock js %}
{# vim:sw=2:ts=2:sts=2:et: #}
